body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fc;
    margin: 0;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#apy{
    margin-left: 300px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.staking-offerings, .staking-wallet, .staking-reward {
    grid-column: span 1;
}
.rewards-query, .staking-activation, .interest-statistics {
    grid-column: span 2;
}
.button {
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}
.button:hover {
    background: #0056b3;
}